<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kitap Form</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"/>



    <div class="container d-flex align-items-center justify-content-center" >

        <form class="w-50 mt-4">
            <div class="form-group">
                <label for="bookName">Kitap Adı</label>
                <input type="text" class="form-control" id="bookName"/>
            </div>

            <div class="form-group">
                <label for="bookSubName">Kitap Alt Adı</label>
                <input type="text" class="form-control" id="bookSubName"/>
            </div>

            <div class="form-group">
                <label for="authorName">Yazar</label>
                <select id="authorName" class="form-control select2-single">
                    <option value="">Search state</option>
                </select>
            </div>


            <div class="form-group">
                <label for="publisher">Yayın Evi</label>
                <select id="publisher" class="form-control select2-single" >
                <option value="">Search state</option>
                </select>
            </div>

            <div class="form-group">
                <label for="isbn">Isbn numarası</label>
                <input type="text" class="form-control" id="isbn"/>
            </div>

            <div class="form-group">
                <label for="serialNumber">Seri Numarası</label>
                <input type="text" class="form-control" id="serialNumber"/>
            </div>


            <div class="form-group">
                <label for="bookPicture">Kitabın kapağı</label>
                <input type="file" class="form-control-file" id="bookPicture">
            </div>

            <div class="form-group">
                <label for="bookDescription">Kitabın açıklaması</label>
                <textarea class="form-control" id="bookDescription" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Kaydet</button>

        </form>

    </div>
</body>
</html>