<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Yayın Evi Form</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>


</head>
<body>
<div th:replace="fragments/header :: header"/>



<div class="container d-flex align-items-center justify-content-center" >

    <form class="w-50 mt-4" th:object="${publisher}" th:action="@{/publisher/save}" method="post">
        <div class="form-group">
            <label for="publisherName">Yayınevi Adı</label>
            <input type="text" class="form-control" id="publisherName" th:field="*{name}"/>
        </div>

        <div class="form-group">
            <label for="publisherLink">Yayınevi</label>
            <input type="text" class="form-control" id="publisherLink" th:field="*{webSite}"/>
        </div>


        <div class="form-group">
            <label for="publisherDescription">Yayınevi açıklaması</label>
            <textarea class="form-control" id="publisherDescription" rows="10" th:field="*{description}"></textarea>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Kaydet</button>

    </form>

</div>
</body>
</html>