<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kitap detay</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>




</head>
<body>
<div th:replace="fragments/header :: header"/>

<section>
    <div class="container mt-5" th:object="${book}">

        <div class="row">
            <div class="col-6">
            <img class="rounded float-right " th:src="|data:image/jpeg;base64,*{picture}|" >

            </div>
            <div class="col-6">
                <ul class="list-group" >
                    <li class="list-group-item" th:text="*{name}" ></li>

                    <li class="list-group-item" th:each="author:${book.authors}">
                        Yazar:
                        <a class="a" th:href="@{/author/showDetail(id=${author.id})}" th:text="${author.name}"></a>
                    </li>

                    <li class="list-group-item">
                        Yayın Evi:
                        <a class="a" th:href="@{/publisher/showDetail(id=*{publisher.id})}" th:text="*{publisher.name}"></a>
                    </li>
                    <li class="list-group-item" th:text="|isbn: *{isbnNumber}|"></li>
                    <li class="list-group-item" th:text="|Seri numarası: *{serialNumber}|"></li>
                </ul>
            </div>
        </div>

        <div class="row mt-5" >
            <p class="p text-center" th:text="*{description}">
            </p>
        </div>

    </div>
</section>
</body>
</html>